# Project 5- Event Driven Finance
**Helgi Ingimundarson - hi2179, Bradlee Spiece - bcs2149, Giovanni Gambarotta - gg2607**

In [2]:
import pandas.io.data as web
import seaborn as sns
from sqlalchemy import create_engine
import datetime
import pandas as pd
from pygments import highlight
from pygments.lexers.sql import SqlLexer
from pygments.formatters import HtmlFormatter, LatexFormatter
from IPython import display
import functools as ft
import matplotlib.pyplot as plt
import scipy as sp
import scipy.interpolate
from __future__ import division
import numpy as np
from scipy.optimize import minimize
from matplotlib.finance import candlestick2_ohlc
from datetime import date, timedelta
from HTMLParser import HTMLParser
import requests
import re
from dateutil import parser
from progressbar import ProgressBar
%matplotlib inline

CONNECTION_STRING = 'mssql+pymssql://IVYuser:resuyvi@vita.ieor.columbia.edu'

# Gets the database connection
def get_connection():
    engine = create_engine(CONNECTION_STRING)
    return engine.connect()

# Query database and return results in dataframe
def query_dataframe(query, connection=None):
    if connection is None:
        connection = get_connection()
    return pd.read_sql(query, connection)

# Query database using external file and return results in dataframe
def query_dataframe_f(filename, connection=None):
    if connection is None:
        connection = get_connection()
    with open(filename, 'r') as handle:
        return pd.read_sql(handle.read(), connection)

# Print sql query and query results
def print_and_query(filename, connection=None, use_latex=False):
    if connection is None:
        connection = get_connection()
    with open(filename, 'r') as handle:
        sql = handle.read()
        if use_latex:
            display_obj = display.Latex(highlight(
                sql, SqlLexer(), LatexFormatter()))
        else:
            formatter = HtmlFormatter()
            display_obj = display.HTML(
                '<style type="text/css">{}</style>{}'
                .format(
                formatter.get_style_defs('.highlight'),
                highlight(sql, SqlLexer(), formatter)))
        display.display(
            display_obj,
            pd.read_sql(sql, connection)
        ) 

def data_frame_to_sql(df, table_name):
    engine = create_engine(CONNECTION_STRING)
    df.to_sql(table_name, engine, if_exists='replace',index=False)

/home/giovanni/.local/lib/python2.7/site-packages/pandas/io/data.py:33: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)
/usr/lib/python2.7/dist-packages/matplotlib/__init__.py:874: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [3]:
'''
    American Option Pricer with dividends - Function call
    ABM(ft.partial(VP,K=Strike,CallPut='OptType'),StockPrice,TimeToMaturity(1/360), 
               Interest Rate, Volatility, TreeSteps, Dividends))
    Dividends are given in the format np.array([[time, dividend],....,])
'''

def BPTree(n, S, u, d, ex_div):
    # Creating a binomial tree with dividends adjustment
    r = [np.array([S])]
    for i in range(n):
        if (i in ex_div[:,0]):
            adj = ex_div[ex_div[:,0]==i][0,1]
            r.append(np.concatenate((r[-1][:1]*u-adj, r[-1]*d-adj)))
        else: r.append(np.concatenate((r[-1][:1]*u, r[-1]*d))) 
    return r

def GBM(R, P, S, T, r, v, n, ex_div):
    # Function returns the American option price
    t = float(T)/n
    T_range = np.arange(0,T+t,t)
    # Selecting dividends before option's maturity date
    curr_div = ex_div[ex_div[:,0]<=T]
    div_idx = []
    # Indexing the dividends ex date in the binomial tree
    for i in range (len(curr_div[:,0])):
        T_diff = T_range[1:]-curr_div[i,0]
        T_diff[T_diff<0]=100000
        div_idx.append(np.argmin(T_diff))
    curr_div[:,0] = np.array(div_idx)
    # Defining up/down binomial step coefficients 
    u = np.exp(v * np.sqrt(t))
    d = 1./u
    p = (np.exp(r * t) - d)/(u - d)
    # Creating the binomial tree
    ptree = BPTree(n, S, u, d, curr_div)[::-1]
    # Defining a function for discounting and P-measure in the tree
    R_ = ft.partial(R, np.exp(-r*t), p)
    # Discounting through the tree with american exercise option
    return ft.reduce(R_, map(P, ptree))[0]

def American(D, p, a, b): 
    # Selecting maximum between continuation and intrinsic option value
    return np.maximum(b, D*(a[:-1]*p + a[1:]*(1-p)))

def VP(S, K, CallPut): 
    # Intrinsic value
    if (CallPut=='C'): return np.maximum(S-K, 0)
    else: return np.maximum(K-S, 0)
    
ABM = ft.partial(GBM, American)

In [4]:
"""
    SYNTHETIC OPTIONS
    Function returns a table with the following features for synthetic options of a 
    selected ticker between Date_Start and Date_End:
        - Date.
        - Stock Price.
        - CallPut option type.
        - Expiration = Date + Target_Maturity.
        - Strike = StockPrice*Target_Factor.
        - Interpolated MBBO using the closest four existing options in maturity and 
          strike given the value of the Strike and Target_Maturity of the considered 
          synthetic option.
        - Implied volatility obtained by inverting Black-Scholes equation.
"""
def synthetic(Ticker, Date_Start, Date_End, Opt_Type, Target_Maturity, Target_Factor):
    # Get option data using Synthetic_Option_Data sql script which returns the 
    # 4 options needed to construct the synthetic option on each date
    sql_raw = open('Synthetic_Option_Data.sql', 'r').read()
    sql_format = sql_raw.format(
        ticker = Ticker, 
        date_start = Date_Start, # yyyy-MM-dd
        date_end = Date_End, # yyyy-MM-dd
        opt_type = Opt_Type,
        target_maturity = Target_Maturity,
        target_factor = Target_Factor # 1=ATM, 1.1=10% above ATM, 0.9=10% below ATM
    )
    data = query_dataframe(sql_format) 
    
    # Obtaining the dividends dates and dollar amount
    query = ''' SELECT ExDate, Amount
                    FROM XFDATA.dbo.DISTRIBUTION dist 
                    INNER JOIN XFDATA.dbo.SECURITY sec ON dist.SecurityID=sec.SecurityID
                    WHERE Ticker='%s' AND (DistributionType='%s' OR DistributionType='1')
                    AND ExDate<=dateadd(day,%s,'%s')
                    AND ExDate>='%s'  ''' % (Ticker,'%',
                                             Target_Maturity,Date_End,Date_Start)
    dividends = query_dataframe(query)
    
    # Creating an empty dataframe for output data
    data_out = pd.DataFrame(columns=['Date','StockPrice','CallPut',
                                     'Expiration','Strike','OptionPrice','IV'])
    # Construct a synthetic option on each date in the considered range
    for date, df in data.groupby('Date'):
        # Variables
        S = df.StockPrice.values[0]
        X = df.StrikePriceTarget.values[0]
        CP = df.CallPut.values[0]
        T = Target_Maturity*1./360
        r = df.ZeroRate.values[0]*0.01
        # Setting an intital value for the IV in the optimization (avoiding -99)
        if (df.ImpliedVolatility[df.ImpliedVolatility>0].mean()>0): 
            # Set the initial value of the IV to the mean of the 4 options considered
            IV_0=df.ImpliedVolatility[df.ImpliedVolatility>0].mean()
        else:
            # Set the initial value to the mean IV of the previous day
            IV_0=data.ImpliedVolatility[data.Date==(date-datetime.timedelta(1))].mean()
        # Expiration date of the synthetic option
        expiration = date + datetime.timedelta(days=Target_Maturity)
        # Time to ex dividend date
        time_to_ExDate = np.array([(t-date).days*1./360 for t in dividends.ExDate])
        # Dividend table with maturity of Ex Div dates
        div_to_expiration = np.array([time_to_ExDate,dividends.Amount]).T 
        # Linear option price interpolation of the closest option data
        if X in df.Strike.values and Target_Maturity in df.DaysToMaturity.values:
            # Check if option exists with desired characteristics
            MBBO_synthetic = float(df.MBBO.values[0])
        elif X in df.Strike.values:
            # Considering the case of a StockPrice=StrikePrice
            data_2d = df[df.Strike==X]
            spline = sp.interpolate.interp1d(data_2d.DaysToMaturity.values,
                                             data_2d.MBBO.values)
            MBBO_synthetic = float(spline(Target_Maturity))
        elif Target_Maturity in df.DaysToMaturity.values:
            # Considering the case Target_Maturity=Expiration
            spline = sp.interpolate.interp1d(df.Strike.values,df.MBBO.values)
            MBBO_synthetic = float(spline(X))
        else:     
            # Interpolation of 4 closest options
            spline = sp.interpolate.interp2d(df.DaysToMaturity.values,
                                             df.Strike.values,df.MBBO.values)
            MBBO_synthetic = float(spline(Target_Maturity,X))
        # Defining the objective function for optimization
        def f(x):
            return (ABM(ft.partial(VP,K=X,CallPut=CP),S, T, r, x, Target_Maturity, 
                        div_to_expiration[div_to_expiration[:,0]>=0])-MBBO_synthetic)**2
        # Defining mimization constraints
        cons = ({'type': 'ineq',
                 'fun' : lambda x: np.array(x),
                 'jac': lambda x: np.array([1.0])})
        # Optimizing
        res = minimize(f,IV_0,constraints=cons)
        # Append data
        s = pd.Series([date,S,CP,expiration,X,MBBO_synthetic,float(res.x)],
                      index=['Date','StockPrice','CallPut','Expiration',
                             'Strike','OptionPrice','IV'])
        data_out = data_out.append(s,ignore_index=True)
        
    return data_out

In [5]:
def ATM(Ticker,Date_Start,Date_End):
    '''
        The query selects all minimum strike differences for each 
        date in the date range considered for the selected ticker 
        with (-10,+10) buffer around start and end date
    '''
    sql_raw = open('ATM.sql', 'r').read()
    sql_format = sql_raw.format(
            ticker = Ticker, 
            date_start = Date_Start, # yyyy-MM-dd
            date_end = Date_End, # yyyy-MM-dd
        )
    data = query_dataframe(sql_format) 
    return data

def Expirations(Ticker,Date_Start,Date_End):
    '''
        The query selects all expirations for options in 
        the date range considered for the selected ticker
    '''
    sql_raw = open('Exp.sql', 'r').read()
    sql_format = sql_raw.format(
            ticker = Ticker, 
            date_start = Date_Start, # yyyy-MM-dd
            date_end = Date_End, # yyyy-MM-dd
        )
    data = query_dataframe(sql_format).astype(pd.datetime) 
    # Create a column with day of the week id
    data['WeekDay'] = data.Expiration.dt.dayofweek
    return data

# Exercise - Pick three optionable stocks.
## a) Using the Internet, make a table of announced earnings dates for the two-year period 6/1/2011-6/1/2013.

In [41]:
start_date = '2011-06-01'
end_date = '2013-06-01'

In [7]:
class EarningsParser(HTMLParser):
    store_dates = False
    earnings_offset = None
    dates = []

    def __init__(self, *args, **kwargs):
        #super().__init__(*args, **kwargs)
        HTMLParser.__init__(self)
        self.dates = []

    def handle_starttag(self, tag, attrs):
        if tag == 'table':
            self.store_dates = True

    def handle_data(self, data):
        if self.store_dates:
            match = re.match(r'\d+/\d+/\d+', data)
            if match:
                self.dates.append(match.group(0))

        # If a company reports before the bell, record the earnings date
        # being at midnight the day before. Ex: WMT reports 5/19/2016,
        # but we want the reference point to be the closing price on 5/18/2016
        if 'After Close' in data:
            self.earnings_offset = timedelta(days=0)
        elif 'Before Open' in data:
            self.earnings_offset = timedelta(days=-1)

    def handle_endtag(self, tag):
        if tag == 'table':
            self.store_dates = False

In [75]:
def earnings_releases(ticker,start_date,end_date):
    #print("Looking up ticker {}".format(ticker))
    user_agent = 'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:46.0) '\
        'Gecko/20100101 Firefox/46.0'
    headers = {'user-agent': user_agent}
    base_url = 'http://www.streetinsider.com/ec_earnings.php?q={}'\
        .format(ticker)
    e = EarningsParser()
    s = requests.Session()
    a = requests.adapters.HTTPAdapter(max_retries=0)
    s.mount('http://', a)
    e.feed(str(s.get(base_url, headers=headers).content))

    if e.earnings_offset is not None:
        dates = map(lambda x: parser.parse(x) + e.earnings_offset, e.dates)
        past = filter(lambda x: x < datetime.datetime.now(), dates)
        res = pd.DataFrame(list(map(lambda d: d.isoformat(), past)),
                           columns=['EarningDate']).astype(np.datetime64)
        res = res[(res<np.datetime64(end_date))\
                                 & (res>np.datetime64(start_date))]
        res.dropna(inplace=True)
        # Checking for the right number of earning dates (4/year)
        earn_expected_n = int((parser.parse(end_date)-parser.parse(start_date)).days/365*4)
        if len(res)<earn_expected_n: print('Check for possible missing earning dates')
        return res

In [104]:
earnings_releases('AAPL',start_date,end_date)

           EarningDate
13 2013-04-23 04:00:00
14 2013-01-23 05:00:00
15 2012-10-25 04:00:00
16 2012-07-24 04:00:00
17 2012-04-24 04:00:00
18 2012-01-24 05:00:00
19 2011-10-18 04:00:00
20 2011-07-19 04:00:00

In [105]:
earnings_releases('CELG',start_date,end_date)

           EarningDate
13 2013-04-24 04:00:00
14 2013-01-23 05:00:00
15 2012-10-24 04:00:00
16 2012-07-25 04:00:00
17 2012-04-25 04:00:00
18 2012-01-25 05:00:00
19 2011-10-26 04:00:00
20 2011-07-27 04:00:00

In [106]:
earnings_releases('GOOG',start_date,end_date)

           EarningDate
13 2013-04-18 04:00:00
14 2013-01-22 05:00:00
15 2012-10-18 04:00:00
16 2012-07-19 04:00:00
17 2012-04-12 04:00:00
18 2012-01-19 05:00:00
19 2011-10-13 04:00:00
20 2011-07-14 04:00:00

## b) For each stock, identify the option series that will be: (A) the front month at earnings, (B) the next available series, (C) the first January leap (this will be no sooner than the fifth available option month).

In [ ]:
def earnings_expirations(ticker,start_date, end_date):
    df_out = pd.DataFrame(columns=['EarningDate','First','Second','JanLeap'])
    # Obtaining earning dates from the web
    df_out['EarningDate'] = earnings_releases(ticker,start_date,end_date).EarningDate
    # Initializing the dataframe
    df_out[['First','Second','JanLeap']] = datetime.datetime.now()
    # Creating a SQL table Earnings
    data_frame_to_sql(df_out,'Earnings')
    sql_raw = open('Exp.sql', 'r').read()
    sql_format = sql_raw.format(
                    ticker = ticker,
                    date_start = start_date,
                    date_end = end_date)
    df_out = query_dataframe(sql_format) 
    return df_out

In [107]:
%%time
earnings_expirations('AAPL',start_date,end_date)

CPU times: user 64 ms, sys: 4 ms, total: 68 ms
Wall time: 10.8 s

          EarningDate      First     Second    JanLeap
0 2013-04-23 04:00:00 2013-04-26 2013-05-03 2014-01-18
1 2013-01-23 05:00:00 2013-01-25 2013-02-01 2014-01-18
2 2012-10-25 04:00:00 2012-10-26 2012-11-02 2014-01-18
3 2012-07-24 04:00:00 2012-07-27 2012-08-18 2013-01-19
4 2012-04-24 04:00:00 2012-04-27 2012-05-19 2013-01-19
5 2012-01-24 05:00:00 2012-01-27 2012-02-18 2013-01-19
6 2011-10-18 04:00:00 2011-10-22 2011-11-19 2013-01-19
7 2011-07-19 04:00:00 2011-07-22 2011-08-20 2012-01-21

In [108]:
%%time
earnings_expirations('CELG',start_date,end_date)

CPU times: user 64 ms, sys: 8 ms, total: 72 ms
Wall time: 5.69 s

          EarningDate      First     Second    JanLeap
0 2013-04-24 04:00:00 2013-05-18 2013-06-22 2014-01-18
1 2013-01-23 05:00:00 2013-02-16 2013-03-16 2014-01-18
2 2012-10-24 04:00:00 2012-11-17 2012-12-22 2014-01-18
3 2012-07-25 04:00:00 2012-08-18 2012-09-22 2013-01-19
4 2012-04-25 04:00:00 2012-05-19 2012-06-16 2013-01-19
5 2012-01-25 05:00:00 2012-02-18 2012-03-17 2013-01-19
6 2011-10-26 04:00:00 2011-11-19 2011-12-17 2013-01-19
7 2011-07-27 04:00:00 2011-08-20 2011-09-17 2012-01-21

In [109]:
%%time
earnings_expirations('GOOG',start_date,end_date)

CPU times: user 56 ms, sys: 20 ms, total: 76 ms
Wall time: 14.9 s

          EarningDate      First     Second    JanLeap
0 2013-04-18 04:00:00 2013-04-20 2013-04-26 2014-01-18
1 2013-01-22 05:00:00 2013-01-25 2013-02-01 2014-01-18
2 2012-10-18 04:00:00 2012-10-20 2012-10-26 2014-01-18
3 2012-07-19 04:00:00 2012-07-21 2012-07-27 2013-01-19
4 2012-04-12 04:00:00 2012-04-13 2012-04-21 2013-01-19
5 2012-01-19 05:00:00 2012-01-21 2012-01-27 2013-01-19
6 2011-10-13 04:00:00 2011-10-14 2011-10-22 2013-01-19
7 2011-07-14 04:00:00 2011-07-16 2011-07-22 2012-01-21

## Exercise 2

In [ ]:
data = synthetic(Ticker = 'CSCO', Date_Start = '', Date_End = end, Opt_Type = 'C', Target_Maturity = 45, Target_Factor = 1)