# Project 5- Event Driven Finance
**Helgi Ingimundarson - hi2179, Bradlee Spiece - bcs2149, Giovanni Gambarotta - gg2607**

In [43]:
import sys
sys.path.append('../utils/')

import pandas.io.data as web
import seaborn as sns
from sqlalchemy import create_engine
import datetime
import pandas as pd
from pygments import highlight
from pygments.lexers.sql import SqlLexer
from pygments.formatters import HtmlFormatter, LatexFormatter
from IPython import display
import functools as ft
import matplotlib.pyplot as plt
import scipy as sp
import scipy.interpolate
from __future__ import division
import numpy as np
from scipy.optimize import minimize
from matplotlib.finance import candlestick2_ohlc
from datetime import date, timedelta
from HTMLParser import HTMLParser
import requests
import re
from dateutil import parser
from progressbar import ProgressBar
from trading_days import TradingDay
from itertools import chain
%matplotlib inline

CONNECTION_STRING = 'mssql+pymssql://IVYuser:resuyvi@vita.ieor.columbia.edu'

# Gets the database connection
def get_connection():
    engine = create_engine(CONNECTION_STRING)
    return engine.connect()

# Query database and return results in dataframe
def query_dataframe(query, connection=None):
    if connection is None:
        connection = get_connection()
    return pd.read_sql(query, connection)

# Query database using external file and return results in dataframe
def query_dataframe_f(filename, connection=None):
    if connection is None:
        connection = get_connection()
    with open(filename, 'r') as handle:
        return pd.read_sql(handle.read(), connection)

# Print sql query and query results
def print_and_query(filename, connection=None, use_latex=False):
    if connection is None:
        connection = get_connection()
    with open(filename, 'r') as handle:
        sql = handle.read()
        if use_latex:
            display_obj = display.Latex(highlight(
                sql, SqlLexer(), LatexFormatter()))
        else:
            formatter = HtmlFormatter()
            display_obj = display.HTML(
                '<style type="text/css">{}</style>{}'
                .format(
                formatter.get_style_defs('.highlight'),
                highlight(sql, SqlLexer(), formatter)))
        display.display(
            display_obj,
            pd.read_sql(sql, connection)
        ) 

def data_frame_to_sql(df, table_name):
    engine = create_engine(CONNECTION_STRING)
    df.to_sql(table_name, engine, if_exists='replace',index=False)

In [66]:
def trading_window(date,pre,post):
    '''
        Selecting a (-pre,+post) interval of trading days aroun date
    '''
    return pd.Series([(date + TradingDay(i))
            for i in range(pre,post+1)])

In [2]:
'''
    American Option Pricer with dividends - Function call
    ABM(ft.partial(VP,K=Strike,CallPut='OptType'),StockPrice,TimeToMaturity(1/360), 
               Interest Rate, Volatility, TreeSteps, Dividends))
    Dividends are given in the format np.array([[time, dividend],....,])
'''

def BPTree(n, S, u, d, ex_div):
    # Creating a binomial tree with dividends adjustment
    r = [np.array([S])]
    for i in range(n):
        if (i in ex_div[:,0]):
            adj = ex_div[ex_div[:,0]==i][0,1]
            r.append(np.concatenate((r[-1][:1]*u-adj, r[-1]*d-adj)))
        else: r.append(np.concatenate((r[-1][:1]*u, r[-1]*d))) 
    return r

def GBM(R, P, S, T, r, v, n, ex_div):
    # Function returns the American option price
    t = float(T)/n
    T_range = np.arange(0,T+t,t)
    # Selecting dividends before option's maturity date
    curr_div = ex_div[ex_div[:,0]<=T]
    div_idx = []
    # Indexing the dividends ex date in the binomial tree
    for i in range (len(curr_div[:,0])):
        T_diff = T_range[1:]-curr_div[i,0]
        T_diff[T_diff<0]=100000
        div_idx.append(np.argmin(T_diff))
    curr_div[:,0] = np.array(div_idx)
    # Defining up/down binomial step coefficients 
    u = np.exp(v * np.sqrt(t))
    d = 1./u
    p = (np.exp(r * t) - d)/(u - d)
    # Creating the binomial tree
    ptree = BPTree(n, S, u, d, curr_div)[::-1]
    # Defining a function for discounting and P-measure in the tree
    R_ = ft.partial(R, np.exp(-r*t), p)
    # Discounting through the tree with american exercise option
    return ft.reduce(R_, map(P, ptree))[0]

def American(D, p, a, b): 
    # Selecting maximum between continuation and intrinsic option value
    return np.maximum(b, D*(a[:-1]*p + a[1:]*(1-p)))

def VP(S, K, CallPut): 
    # Intrinsic value
    if (CallPut=='C'): return np.maximum(S-K, 0)
    else: return np.maximum(K-S, 0)
    
ABM = ft.partial(GBM, American)

In [4]:
def ATM(Ticker,Date_Start,Date_End):
    '''
        The query selects all minimum strike differences for each 
        date in the date range considered for the selected ticker 
        with (-10,+10) buffer around start and end date
    '''
    sql_raw = open('ATM.sql', 'r').read()
    sql_format = sql_raw.format(
            ticker = Ticker, 
            date_start = Date_Start, # yyyy-MM-dd
            date_end = Date_End, # yyyy-MM-dd
        )
    data = query_dataframe(sql_format) 
    return data

def Expirations(Ticker,Date_Start,Date_End):
    '''
        The query selects all expirations for options in 
        the date range considered for the selected ticker
    '''
    sql_raw = open('Exp.sql', 'r').read()
    sql_format = sql_raw.format(
            ticker = Ticker, 
            date_start = Date_Start, # yyyy-MM-dd
            date_end = Date_End, # yyyy-MM-dd
        )
    data = query_dataframe(sql_format).astype(pd.datetime) 
    # Create a column with day of the week id
    data['WeekDay'] = data.Expiration.dt.dayofweek
    return data

# Exercise - Pick three optionable stocks.
## a) Using the Internet, make a table of announced earnings dates for the two-year period 6/1/2011-6/1/2013.

In [5]:
start_date = '2011-06-01'
end_date = '2013-06-01'

In [6]:
class EarningsParser(HTMLParser):
    store_dates = False
    earnings_offset = None
    dates = []

    def __init__(self, *args, **kwargs):
        #super().__init__(*args, **kwargs)
        HTMLParser.__init__(self)
        self.dates = []

    def handle_starttag(self, tag, attrs):
        if tag == 'table':
            self.store_dates = True

    def handle_data(self, data):
        if self.store_dates:
            match = re.match(r'\d+/\d+/\d+', data)
            if match:
                self.dates.append(match.group(0))

        # If a company reports before the bell, record the earnings date
        # being at midnight the day before. Ex: WMT reports 5/19/2016,
        # but we want the reference point to be the closing price on 5/18/2016
        if 'After Close' in data:
            self.earnings_offset = timedelta(days=0)
        elif 'Before Open' in data:
            self.earnings_offset = timedelta(days=-1)

    def handle_endtag(self, tag):
        if tag == 'table':
            self.store_dates = False

In [7]:
def earnings_releases(ticker,start_date,end_date):
    #print("Looking up ticker {}".format(ticker))
    user_agent = 'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:46.0) '\
        'Gecko/20100101 Firefox/46.0'
    headers = {'user-agent': user_agent}
    base_url = 'http://www.streetinsider.com/ec_earnings.php?q={}'\
        .format(ticker)
    e = EarningsParser()
    s = requests.Session()
    a = requests.adapters.HTTPAdapter(max_retries=0)
    s.mount('http://', a)
    e.feed(str(s.get(base_url, headers=headers).content))

    if e.earnings_offset is not None:
        dates = map(lambda x: parser.parse(x) + e.earnings_offset, e.dates)
        past = filter(lambda x: x < datetime.datetime.now(), dates)
        res = pd.DataFrame(list(map(lambda d: d.isoformat(), past)),
                           columns=['EarningDate']).astype(np.datetime64)
        res = res[(res<np.datetime64(end_date))\
                                 & (res>np.datetime64(start_date))]
        res.dropna(inplace=True)
        # Checking for the right number of earning dates (4/year)
        earn_expected_n = int((parser.parse(end_date)-parser.parse(start_date)).days/365*4)
        if len(res)<earn_expected_n: print('Check for possible missing earning dates')
        return res

In [8]:
earnings_releases('AAPL',start_date,end_date)

           EarningDate
13 2013-04-23 04:00:00
14 2013-01-23 05:00:00
15 2012-10-25 04:00:00
16 2012-07-24 04:00:00
17 2012-04-24 04:00:00
18 2012-01-24 05:00:00
19 2011-10-18 04:00:00
20 2011-07-19 04:00:00

In [9]:
earnings_releases('CELG',start_date,end_date)

           EarningDate
13 2013-04-24 04:00:00
14 2013-01-23 05:00:00
15 2012-10-24 04:00:00
16 2012-07-25 04:00:00
17 2012-04-25 04:00:00
18 2012-01-25 05:00:00
19 2011-10-26 04:00:00
20 2011-07-27 04:00:00

In [10]:
earnings_releases('GOOG',start_date,end_date)

           EarningDate
13 2013-04-18 04:00:00
14 2013-01-22 05:00:00
15 2012-10-18 04:00:00
16 2012-07-19 04:00:00
17 2012-04-12 04:00:00
18 2012-01-19 05:00:00
19 2011-10-13 04:00:00
20 2011-07-14 04:00:00

## b) For each stock, identify the option series that will be: (A) the front month at earnings, (B) the next available series, (C) the first January leap (this will be no sooner than the fifth available option month).

In [19]:
def earnings_expirations(ticker,start_date, end_date):
    df_out = pd.DataFrame(columns=['EarningDate','First','Second','JanLeap'])
    # Obtaining earning dates from the web
    df_out['EarningDate'] = earnings_releases(ticker,start_date,end_date).EarningDate
    # Initializing the dataframe
    df_out[['First','Second','JanLeap']] = datetime.datetime.now()
    # Creating a SQL table Earnings
    data_frame_to_sql(df_out,'Earnings')
    sql_raw = open('Exp.sql', 'r').read()
    sql_format = sql_raw.format(
                    ticker = ticker,
                    date_start = start_date,
                    date_end = end_date)
    df_out = query_dataframe(sql_format) 
    return df_out

In [15]:
%%time
earnings_expirations('AAPL',start_date,end_date)

CPU times: user 92 ms, sys: 4 ms, total: 96 ms
Wall time: 53.5 s

          EarningDate      First     Second    JanLeap
0 2013-04-23 04:00:00 2013-04-26 2013-05-03 2014-01-18
1 2013-01-23 05:00:00 2013-01-25 2013-02-01 2014-01-18
2 2012-10-25 04:00:00 2012-10-26 2012-11-02 2014-01-18
3 2012-07-24 04:00:00 2012-07-27 2012-08-18 2013-01-19
4 2012-04-24 04:00:00 2012-04-27 2012-05-19 2013-01-19
5 2012-01-24 05:00:00 2012-01-27 2012-02-18 2013-01-19
6 2011-10-18 04:00:00 2011-10-22 2011-11-19 2013-01-19
7 2011-07-19 04:00:00 2011-07-22 2011-08-20 2012-01-21

In [16]:
%%time
earnings_expirations('CELG',start_date,end_date)

CPU times: user 60 ms, sys: 20 ms, total: 80 ms
Wall time: 1min 57s

          EarningDate      First     Second    JanLeap
0 2013-04-24 04:00:00 2013-05-18 2013-06-22 2014-01-18
1 2013-01-23 05:00:00 2013-02-16 2013-03-16 2014-01-18
2 2012-10-24 04:00:00 2012-11-17 2012-12-22 2014-01-18
3 2012-07-25 04:00:00 2012-08-18 2012-09-22 2013-01-19
4 2012-04-25 04:00:00 2012-05-19 2012-06-16 2013-01-19
5 2012-01-25 05:00:00 2012-02-18 2012-03-17 2013-01-19
6 2011-10-26 04:00:00 2011-11-19 2011-12-17 2013-01-19
7 2011-07-27 04:00:00 2011-08-20 2011-09-17 2012-01-21

In [17]:
%%time
earnings_expirations('GOOG',start_date,end_date)

CPU times: user 76 ms, sys: 8 ms, total: 84 ms
Wall time: 2min 48s

          EarningDate      First     Second    JanLeap
0 2013-04-18 04:00:00 2013-04-20 2013-04-26 2014-01-18
1 2013-01-22 05:00:00 2013-01-25 2013-02-01 2014-01-18
2 2012-10-18 04:00:00 2012-10-20 2012-10-26 2014-01-18
3 2012-07-19 04:00:00 2012-07-21 2012-07-27 2013-01-19
4 2012-04-12 04:00:00 2012-04-13 2012-04-21 2013-01-19
5 2012-01-19 05:00:00 2012-01-21 2012-01-27 2013-01-19
6 2011-10-13 04:00:00 2011-10-14 2011-10-22 2013-01-19
7 2011-07-14 04:00:00 2011-07-16 2011-07-22 2012-01-21

## Exercise 
**We wish to follow the implied volatilities of the ATM straddles of various series beginning
approximately three weeks before earnings and proceeding to one week after earnings.**

**NOTE: for this problem, we do not use the volatility surface tables in IVY to track the 50-
delta vols. Why, you ask? The volatility surface table uses time averaging and therefore
minimizes drops across earnings events.**

**a)**
- **Choose one of the stocks from 1a.**
- **For each earnings event, create three synthetic ATM options, one for each of the three series identified in 1b  plot their implied vols for the 4 week period**
- **The result will be 3 series x 4 earnings = 12 curves.**

**NOTE: The front month series may truncate with expiry but the other two will
continue past expiration.**

In [44]:
%%time
start_date = '2012-06-01'
end_date = '2013-06-01'
# Selecting a Stock
Ticker = 'AAPL'
# Earnings and expirations table
earn_exp_table = earnings_expirations('AAPL',start_date,end_date)

CPU times: user 92 ms, sys: 20 ms, total: 112 ms
Wall time: 16.7 s

In [45]:
earn_exp_table

          EarningDate      First     Second    JanLeap
0 2013-04-23 04:00:00 2013-04-26 2013-05-03 2014-01-18
1 2013-01-23 05:00:00 2013-01-25 2013-02-01 2014-01-18
2 2012-10-25 04:00:00 2012-10-26 2012-11-02 2014-01-18
3 2012-07-24 04:00:00 2012-07-27 2012-08-18 2013-01-19

In [410]:
synthetic_ATM('AAPL',earn_exp_table.EarningDate.loc[0],earn_exp_table.JanLeap.loc[0],'D',[-15,5],100)

,Date,StockPrice,CallPut,Expiration,Strike,OptionPrice,IV,ATM Method
0,2013-04-02,429.791992,C,2014-01-18,440.322722,38.414457,0.286116,ATM Delta
1,2013-04-02,429.791992,P,2014-01-18,440.322722,56.720406,0.321907,ATM Delta
2,2013-04-03,431.989990,C,2014-01-18,442.548906,39.033971,0.289248,ATM Delta
3,2013-04-03,431.989990,P,2014-01-18,442.548906,56.508365,0.319206,ATM Delta
4,2013-04-04,427.720001,C,2014-01-18,438.291487,38.567575,0.289708,ATM Delta
5,2013-04-04,427.720001,P,2014-01-18,438.291487,56.602228,0.323460,ATM Delta
6,2013-04-05,423.200012,C,2014-01-18,434.367372,39.063173,0.298359,ATM Delta
7,2013-04-05,423.200012,P,2014-01-18,434.367372,57.474219,0.330693,ATM Delta
8,2013-04-08,426.209991,C,2014-01-18,437.185171,39.054080,0.297556,ATM Delta
9,2013-04-08,426.209991,P,2014-01-18,437.185171,57.452362,0.330543,ATM Delta
10,2013-04-09,426.980011,C,2014-01-18,437.360932,38.371461,0.291545,ATM Delta
11,2013-04-09,426.980011,P,2014-01-18,437.360932,56.432394,0.326001,ATM Delta
12,2013-04-10,435.690002,C,2014-01-18,446.318858,39.294544,0.292895,ATM Delta
13,2013-04-10,435.690002,P,2014-01-18,446.318858,57.258126,0.324439,ATM Delta
14,2013-04-11,434.329987,C,2014-01-18,444.569620,38.983342,0.291545,ATM Delta
15,2013-04-11,434.329987,P,2014-01-18,444.569620,56.276076,0.320763,ATM Delta
16,2013-04-12,429.799988,C,2014-01-18,439.603459,38.246547,0.289183,ATM Delta
17,2013-04-12,429.799988,P,2014-01-18,439.603459,55.150006,0.319007,ATM Delta
18,2013-04-15,419.850006,C,2014-01-18,430.148398,38.520641,0.301007,ATM Delta
19,2013-04-15,419.850006,P,2014-01-18,430.148398,55.489929,0.328392,ATM Delta
20,2013-04-16,426.239990,C,2014-01-18,435.740743,37.926295,0.291007,ATM Delta
21,2013-04-16,426.239990,P,2014-01-18,435.740743,54.337038,0.319352,ATM Delta
22,2013-04-17,402.799988,C,2014-01-18,414.058357,38.366074,0.316766,ATM Delta
23,2013-04-17,402.799988,P,2014-01-18,414.058357,56.618781,0.347378,ATM Delta
24,2013-04-18,392.049988,C,2014-01-18,402.959514,37.428437,0.318220,ATM Delta
25,2013-04-18,392.049988,P,2014-01-18,402.959514,55.487952,0.350619,ATM Delta
26,2013-04-19,390.529999,C,2014-01-18,400.890541,37.018440,0.315407,ATM Delta
27,2013-04-19,390.529999,P,2014-01-18,400.890541,54.171857,0.345237,ATM Delta
28,2013-04-22,398.670013,C,2014-01-18,407.420110,36.198074,0.300615,ATM Delta
29,2013-04-22,398.670013,P,2014-01-18,407.420110,51.166587,0.324514,ATM Delta
30,2013-04-23,406.130005,C,2014-01-18,413.413433,36.300209,0.292404,ATM Delta
31,2013-04-23,406.130005,P,2014-01-18,413.413433,50.055176,0.317090,ATM Delta
32,2013-04-24,405.462006,C,2014-01-18,411.298314,34.163935,0.274118,ATM Delta
33,2013-04-24,405.462006,P,2014-01-18,411.298314,47.425232,0.305164,ATM Delta
34,2013-04-25,408.380005,C,2014-01-18,414.263137,34.721272,0.276739,ATM Delta
35,2013-04-25,408.380005,P,2014-01-18,414.263137,47.367357,0.302895,ATM Delta
36,2013-04-26,417.204987,C,2014-01-18,421.392529,33.181212,0.256239,ATM Delta
37,2013-04-26,417.204987,P,2014-01-18,421.392529,43.821592,0.278483,ATM Delta
38,2013-04-29,430.119995,C,2014-01-18,434.445688,33.838354,0.255114,ATM Delta
39,2013-04-29,430.119995,P,2014-01-18,434.445688,44.981825,0.278772,ATM Delta
40,2013-04-30,442.779999,C,2014-01-18,447.413222,34.726794,0.255011,ATM Delta
41,2013-04-30,442.779999,P,2014-01-18,447.413222,46.340016,0.279232,ATM Delta

In [406]:
def synthetic_ATM(ticker,earning_date,expiration,method,day_range,steps):
    '''
        - Method is for chosing either DeltaStraddle=0 or Stike=StockPrice ATM
    '''
    earning_date = datetime.datetime.date(earning_date)
    date_range = trading_window(earning_date,
                                day_range[0],day_range[1]).astype(datetime.date)
    # Get option data using Synthetic_Option_Data sql script which returns the 
    # 4 options needed to construct the synthetic option on each date
    date_range = date_range[date_range<expiration]
    sql_raw = open('ATM.sql', 'r').read()
    sql_format = sql_raw.format(
        ticker = ticker, 
        date_start = str(date_range.values[0])[:10], # yyyy-MM-dd
        date_end = str(date_range.values[-1])[:10], # yyyy-MM-dd
        date_expiration = expiration,
    )
    data = query_dataframe(sql_format)   
    # Synthetic options method selection
    data = data[data.ATMethod==method]
    
    # Obtaining Straddle Delta=0 Strikes 
    delta_strikes = {}
    if method=='D':
        for date, df in data.groupby(['Date']):
            delta_straddle = {}
            for K,df_K in df.groupby('Strike'):
                delta_straddle[K] = df_K.Delta.values[0]+df_K.Delta.values[1]
            delta_straddle = pd.Series(delta_straddle,index=delta_straddle.keys())
            spline = sp.interpolate.interp1d(delta_straddle.values,delta_straddle.index)
            delta_strikes[date]=float(spline(0))
        
    # Obtaining the dividends dates and dollar amount
    query = ''' SELECT ExDate, Amount
                    FROM XFDATA.dbo.DISTRIBUTION dist 
                    INNER JOIN XFDATA.dbo.SECURITY sec ON dist.SecurityID=sec.SecurityID
                    WHERE Ticker='%s' AND (DistributionType='%s' OR DistributionType='1')
                    AND ExDate BETWEEN '%s' AND '%s'  ''' % (ticker,
                                    '%',str(date_range.values[0])[:10],expiration)
    dividends = query_dataframe(query)
  
    # Creating an empty dataframe for output data
    data_out = pd.DataFrame(columns=['Date','StockPrice','CallPut',
                                     'Expiration','Strike','OptionPrice','IV','ATM Method'])
    # Construct a synthetic option on each date in the considered range
    for date, df in data.groupby(['Date','CallPut']):
        # Variables
        S = df.ClosePrice.values[0]
        if method=='S': X = df.ClosePrice.values[0]
        else: X = delta_strikes[date[0]]
        CP = df.CallPut.values[0]
        T = (expiration-date[0]).days*1./360
        r = df.ZeroRate.values[0]*0.01
        # Setting an intital value for the IV in the optimization (avoiding -99)
        if (df.ImpliedVolatility[df.ImpliedVolatility>0].mean()>0): 
            # Set the initial value of the IV to the mean of the 4 options considered
            IV_0=df.ImpliedVolatility[df.ImpliedVolatility>0].mean()
        else:
            # Set the initial value to the mean IV of the previous day
            IV_0=data.ImpliedVolatility[data.Date==(date[0]-datetime.timedelta(1))].mean()
        # Time to ex dividend date
        time_to_ExDate = np.array([(t-date[0]).days*1./360 for t in dividends.ExDate])
        # Dividend table with maturity of Ex Div dates
        div_to_expiration = np.array([time_to_ExDate,dividends.Amount]).T 
        # Linear option price interpolation of the closest option data
        if X in df.Strike.values:
            # Check if option exists with desired characteristics
            MBBO_synthetic = float(df.MBBO.values[0])
        else:
            spline = sp.interpolate.interp1d(df.Strike.values,df.MBBO.values)
            MBBO_synthetic = float(spline(X))
        # Defining the objective function for optimization
        def f(x):
            return (ABM(ft.partial(VP,K=X,CallPut=CP),S, T, r, x, steps, 
                    div_to_expiration[div_to_expiration[:,0]>=0])-MBBO_synthetic)**2
        # Defining mimization constraints
        cons = ({'type': 'ineq',
                 'fun' : lambda x: np.array(x),
                 'jac': lambda x: np.array([1.0])})
        # Optimizing
        res = minimize(f,IV_0,constraints=cons)
        if method=='S': method='ATM Strike'
        else: method='ATM Delta'
        # Append data
        s = pd.Series([date[0],S,CP,expiration,X,MBBO_synthetic,float(res.x),method],
                  index=['Date','StockPrice','CallPut',
                                 'Expiration','Strike','OptionPrice','IV','ATM Method'])
        data_out = data_out.append(s,ignore_index=True)        
    return data_out