In [11]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
import time
import matplotlib.pyplot as plt
%matplotlib inline

CONNECTION_STRING = 'mssql+pymssql://IVYuser:resuyvi@vita.ieor.columbia.edu'

# Gets the database connection
def get_connection():
    engine = create_engine(CONNECTION_STRING)
    return engine.connect()

# Query database and return results in dataframe
def query_dataframe(query, connection=None):
    # date_col should be a list
    if connection is None:
        connection = get_connection()
    res = pd.read_sql(query, connection)
    return res

# Query database using external file and return results in dataframe
def query_dataframe_f(filename, connection=None):
    if connection is None:
        connection = get_connection()
    with open(filename, 'r') as handle:
        return pd.read_sql(handle.read(), connection)

def data_frame_to_sql(df, table_name):
    engine = create_engine(CONNECTION_STRING)
    df.to_sql(table_name, engine, if_exists='replace')

In [12]:
data = pd.read_excel('sp500_project_data.xlsx')
#data = data.fillna('')
#data.ChangeDate = data.ChangeDate.astype(pd.datetime)
#data.AnnouncementDate = data.AnnouncementDate.astype(pd.datetime)

In [13]:
data_frame_to_sql(data, 'hi2179_SP500_comp_temp')

In [222]:
def get_stock_data(sec_id, change_date, announcement_date):
    query = '''
    declare @datefrom datetime = '{}'
    declare @dateto datetime = '{}'
    select Date, BidLow, AskHigh, OpenPrice, ClosePrice, Volume, AdjustmentFactor, AdjustmentFactor2
    from XFDATA.dbo.SECURITY_PRICE
    where SecurityID = {} 
    and (
        (datediff(day,@datefrom,Date) >= -20 and datediff(day,@datefrom,Date) <= 20)
        or
        (datediff(day,@dateto,Date) >= -20 and datediff(day,@dateto,Date) <= 20))
    '''.format(announcement_date, change_date, sec_id)
    
    return query_dataframe(query)

In [ ]:
for idx, row in data.iterrows():
    sec_id = row.inSecurityID
    announcement_date = row.AnnouncementDate
    change_date = row.ChangeDate
    if np.isnan(sec_id):
        continue
    sec_id = int(sec_id)
    
    sto = get_stock_data(sec_id, change_date, announcement_date)
    
    fig, ax1 = plt.subplots(figsize=(18,8))
    ax2 = ax1.twinx()
    ax1.plot(sto.Date, sto.ClosePrice, 'b')
    ax2.plot(sto.Date, sto.Volume, '--k')
    plt.axvline(x=announcement_date,color='r',ls='dashed')
    plt.axvline(x=change_date,color='b',ls='dashed')
    ax1.legend(loc=2),ax2.legend(loc=1)
    plt.grid(True)
    plt.title(row.inName + ' ' + str(announcement_date) + ' ' + str(change_date))
    plt.show()
    
    time.sleep(1)
    
    # Buy on open of day after announcement
    # sell on change date
    #announcement_idx = sto.loc[sto.Date == announcement_date].index.values[0] + 1
    #change_date_idx = sto.loc[sto.Date == change_date].index.values[0]

In [211]:
name = 'washington mutual'
query = '''
select *
from XFDATA.dbo.SECURITY_NAME
where IssuerDescription like '%{}%'
'''.format(name)
query_dataframe(query)

,SecurityID,Date,CUSIP,Ticker,Class,IssuerDescription,IssueDescription,SIC
0,5054,2000-07-11,93932000,ZZZZ,None,WASHINGTON MUTUAL FINL CORP,None,None
1,111884,1996-01-01,93932210,WAMU,None,WASHINGTON MUTUAL INC,None,None
2,111884,1998-12-09,93932210,WM,None,WASHINGTON MUTUAL INC,None,None

In [220]:
name = 'bay'
query = '''
select *
from XFDATA.dbo.SECURITY_NAME
where ticker like '{}'
'''.format(name)
query_dataframe(query)

,SecurityID,Date,CUSIP,Ticker,Class,IssuerDescription,IssueDescription,SIC
0,7333,1996-03-06,07251010,BAY,None,BAY NETWORKS INC,None,None
1,9374,2002-01-24,07273030,BAY,None,BAYER A G -SPON ADR,None,None

In [212]:
query = '''
select *
from XFDATA.dbo.SECURITY_NAME
where SecurityID = 111884


'''.format(name)
query_dataframe(query)

,SecurityID,Date,CUSIP,Ticker,Class,IssuerDescription,IssueDescription,SIC
0,111884,1996-01-01,93932210,WAMU,None,WASHINGTON MUTUAL INC,None,None
1,111884,1998-12-09,93932210,WM,None,WASHINGTON MUTUAL INC,None,None
2,111884,2000-11-28,93932210,WM,None,WASHINGTON MUT INC,COM,6036
3,111884,2004-02-20,93932210,WM,None,WASHINGTON MUT INC,COM,6035
4,111884,2012-03-21,93932210,ZZZZ,None,WASHINGTON MUT INC,COM,6022

In [215]:
query = '''
select min(date),max(Date)
from XFDATA.dbo.SECURITY_PRICE
where SecurityID = 109965
'''.format(name)
query_dataframe(query)

0 1996-01-02 2013-08-30